<!DOCTYPE html>
<html lang="en">
  <body class="container">

    <main>
      <div id="twitch-embed"></div>
      <div id="user-events">
        <h1>Events for <span id="subscribe-user-name"></span></h1>
      </div>
    </main>

    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    
    <script type="text/javascript">
        const queryDict = {}
        location.search.substr(1).split("&")
            .forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]});

        const user = queryDict.username;
        
        // enmbed Twitch live stream and chat 
        new Twitch.Embed("twitch-embed", {
            width: 1080,
            height: 450,
            channel: user
        });

        document.getElementById("subscribe-user-name").innerHTML = user;

        // set up web socket connection
        function setupWebSocket(){
            const wsProtocol = location.protocol.startsWith("https") ? "wss" : "ws";
            const url = `${wsProtocol}://${location.host}/eventSocket`;
            console.debug('connect to ', url);
            const ws = new WebSocket(url);
            
            ws.onopen = function () {
                ws.send('client connected');
            };

            ws.onerror = function (error) {
                console.log('WebSocket Error ', error);
            };

            ws.onmessage = function (e) {
                console.log('message: ', e);
                console.log('message data: ', JSON.parse(e.data));
            };

            ws.onclose = function(){
                console.log('client is to be closed');
                setTimeout(setupWebSocket, 200);
            };
        }

        setupWebSocket();
    </script>
  </body>
</html>
