<!DOCTYPE html>
<html lang="en">
  <body class="container">

    <main>
      <div id="login">
        <h1>Events for <%- subsribedUsername%></h1>
      </div>
    </main>

    <script type="text/javascript">
    </script>
  </body>
</html>
