<!DOCTYPE html>
<html lang="en">
  <body class="container">

    <main>
      <div id="login">
        <h1>Events for <%- subsribedUsername%></h1>
      </div>
    </main>

    <script type="text/javascript">
        const wsProtocol = location.protocol.startsWith("https") ? "wss" : "ws";
        const url = `${wsProtocol}://${location.host}/eventSocket`;
        console.debug('connect to ', url);
        const ws = new WebSocket(url);
        
        ws.onopen = function () {
            ws.send('client connected'); // Send the message 'Ping' to the server
        };

        ws.onerror = function (error) {
            console.log('WebSocket Error ', error);
        };

        ws.onmessage = function (e) {
            console.log('message: ', e);
            console.log('message data: ', JSON.parse(e.data));
        };

    </script>
  </body>
</html>
